:root {
    --color-black: #191919;
    --color-white: #fff;
    --color-green-light: #05B093;
    --color-background-grey: rgba(25, 25, 25, 0.05);;
    --font-primary: "Fira Sans";
    --font-secondary: "EB Garamond";
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary), sans-serif;
    font-size: 0.5208335vw;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    -webkit-animation: bugfix infinite 1s;
}

body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    color: var(--color-text);
    background-color: var(--color-white);
    -webkit-animation: bugfix infinite 1s;
}

input,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    -webkit-animation: bugfix infinite 1s;
}

a {
    color: unset;
}
a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font: inherit;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    text-align: inherit;
    color: inherit;
    background-color: transparent;
    font: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

section {
    margin-bottom: 18rem;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

@media (max-width: 46.5em) {
    html {
        font-size: 8px;
        font-size: 1.04vw;
        -webkit-text-size-adjust: none;
    }

    body {
        -webkit-text-size-adjust: none;
    }

    .container {
        padding: 0 4rem;
        width: 100%;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 5px;
        font-size: calc((100 / 375) * 5vw);
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 10px;
    }
}

.header {
    background: var(--color-black);
    padding: 3.2rem;
    margin-bottom: 6rem;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 33rem;
    height: 4rem;
}

.header__logo img {
    height: 100%;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header__item {
    position: relative;
}

.header__item:not(:last-child)::after{
    content: '';
    position: absolute;
    right: -2.6rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: .6rem;
    height: .6rem;
    background-color: var(--color-white);
}

.header__item a {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--color-white);
}

.hero {
    margin-bottom: 18.4rem;
}

.hero__content {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
}

.hero__banner {
    max-width: 85.6rem;
    width: 100%;
    height: 50rem;
}

.hero__banner img {
    height: 100%;
}

.hero__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.hero__item a {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    padding: 1.2rem 1.6rem;
    border-radius: 8px;
    background: var(--color-background-grey);
}

.hero__item-icon {
    border-radius: 8px;
    width: 8rem;
    height: 8rem;
}

.hero__item-icon img {
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.hero__item span {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 140%;
}

.footer {
    background: var(--color-black);
    padding-top: 6rem;
    padding-bottom: 3.2rem;
}

.footer__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 6rem;
    border-bottom: .1rem solid var(--color-white);
    margin-bottom: 3.2rem;
}

.footer__logo {
    width: 33rem;
    height: 4rem;
}

.footer__logo img {
    height: 100%;
}

.footer__blocks {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
}

.footer__block {
    width: 41.6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: flex-start;
}

.footer__block.--events  .footer__links-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2.4rem;
}

.footer__block-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 140%;
    color: var(--color-white);
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
}

.footer__links-item {
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--color-white);
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright span {
    display: block;
    width: fit-content;
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--color-white);
    opacity: .5;
}