:root {
    --color-text: #191919;
    --color-white: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 0.5208335vw;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    -webkit-animation: bugfix infinite 1s;
}

body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    color: var(--color-text);
    background-color: var(--color-white);
    -webkit-animation: bugfix infinite 1s;
}

input,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    -webkit-animation: bugfix infinite 1s;
}

a {
    color: unset;
}
a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font: inherit;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    text-align: inherit;
    color: inherit;
    background-color: transparent;
    font: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

section {
    margin-bottom: 18rem;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

@media (max-width: 46.5em) {
    html {
        font-size: 8px;
        font-size: 1.04vw;
        -webkit-text-size-adjust: none;
    }

    body {
        -webkit-text-size-adjust: none;
    }

    .container {
        padding: 0 4rem;
        width: 100%;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 5px;
        font-size: calc((100 / 375) * 5vw);
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 10px;
    }
}

.single {
    width: 100%;
}

.title {
    text-align: center;
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.single-img {
    width: 52.6rem;
}

.right-block {
    width: 63.6rem;
}

.content-title {
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 140%;
    margin-bottom: 2.4rem;
}

.actors-text {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 140%;
}

.actors-text-margin {
    margin-bottom: 1.6rem;
}

.description {
    margin-top: 4rem;
}

.program-title {
    margin-top: 4rem;
    margin-bottom: 2.4rem;
}

.text-title {
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 140%;
    margin-bottom: 2.4rem;
}

.text-normal {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 140%;
}